.chatroom {
  z-index: 10;
  position: absolute;
  right: 20px;
  bottom: 0;
  background-color: #fff;
  width: 24em;
}

.controls span{
    font-size: 3em;
}

.ui-sortable-placeholder {
     margin-left: 0 !important;
}


#search-field {
    
    
}

#search-list {
    top: 3.5em;
    
}



.chatroom-content-your-messages-words {
    margin: 2em 0;
    padding: 1em;
    width: 50%;
    float: right;
}

.chatroom-content-user-messages-words {
    margin: 2em 0;
    padding: 1em;
    width: 50%;
}

#search-results {
    top: 3.5em;
    left: 7em;
    
}
